.room{
  position: relative;
  width: 50vw;
  height: 50vw;
  max-height: 60vh;
  // transform: rotateX(-5deg) rotateY(10deg) translateZ(300px) translateY(-80px) translateX(-100px);
  transform: rotateX(-5deg) translateZ(250px) translateY(-40px);
  // perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  // animation: panRoom 9s linear infinite;
  pointer-events: none;
  user-select: none;
}

@keyframes panRoom{
  0%{
    transform: rotateX(-5deg) rotateY(-15deg) translateZ(310px) translateY(-40px);
  }
  50%{
    transform: rotateX(-5deg) rotateY(15deg) translateZ(310px) translateY(-40px);
  }
  100%{
    transform: rotateX(-5deg) rotateY(-15deg) translateZ(310px) translateY(-40px);
  }
}